body {
  display: flex;
  flex-direction: column;
  background-image: url("/gradelens/source/background/default_background_light.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: calc(100vh);
  overflow: hidden;
}

#errorcontainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  background: none;
  margin: auto;

  align-items: center;
  justify-items: center;
}

#spinning-logo {
  margin-top: 5%;
  animation: rotate 6.5s linear infinite;
  backface-visibility: hidden;

  height: 45%;
  width: 22.5%;

}

@keyframes rotate {
  100% { transform: rotate(360deg); backface-visibility: hidden; }
}

#error {
  color: #444444;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vh;
  transform: scale(2);
}

#text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #666666;
  margin-top: -1vh;
  font-size: 3vh;
}

#subtext {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #888888;
  margin-top: -1vh;
  font-size: 2vh;
}