:root {
    --submitbutton: #ced8e0;
    --background-top: #ced8e0;
    --background-bottom: #e2e5ed;
    --background-graph: #f1f2f6;
    --background-divider: #a4adb8;
    --opacity-top: 100%;
    --opacity-bottom: 100%;
    --global-margin: auto;
}

#defaultbody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: none;
}

#graphside {
    display: flex;
    flex-direction: column;
    background: none;
    width: 70%;
    height: 100%;
}

#quickviewside {
    display: flex;
    flex-direction: column;
    background: none;
    width: 30%;
    height: 100%;
}

#graphcontainer {
    display: flex;
    width: 96%;
    height: 94%;
    margin: auto;
    background: var(--background-graph);
    border-radius: 1vw;
    box-shadow: inset 0 0.5vw 2vw 0.5vw rgba(206, 216, 224, 1);
    transition: box-shadow 0.35s ease-in-out;

    &:hover {
        box-shadow: 0 0.5vw 2vw 0.5vw rgba(206, 216, 224, 1), inset 0 0.5vw 2vw 0.5vw rgba(206, 216, 224, 1);
    }
}

#quickviewcontainer {
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 94%;
    background: var(--background-bottom);
    margin: auto;
    border-radius: 1vw;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2), 0 0.15vw 0.5vw rgba(0, 0, 0, 0.1);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25vw;
    color: #687172;

    &:hover {
        box-shadow: 0 0.6vw 1.1vw rgba(0, 0, 0, 0.2), 0 0.175vw 0.6vw rgba(0, 0, 0, 0.2);
    }
}

#quickviewtitle {
    display: flex;
    width: 100%;
    height: 15%;
    min-height: 50px;
    background: var(--background-top);
    color: #687172;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2), 0 0.15vw 0.5vw rgba(0, 0, 0, 0.1);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#quickviewcontent {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 98%;
    background: none;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#quickviewscrollcontainer {
    width: 100%;
}

#quickviewtext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--background-graph);
    width: 94%;
    min-height: 40px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vw;
    padding: 10px 5px;
    box-shadow: inset 0 0.15vw 0.75vw 0.15vw rgba(206, 216, 224, 1);

    transition: 0.35s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 0 0.15vw 0.75vw 0.15vw rgba(206, 216, 224, 1);
    }
}

#quickviewtext p {
    margin: 0;
    width: 100%;
}


#quickviewseperator {
    display: flex;
    background: var(--background-divider);
    width: 90%;
    min-height: 5px;
    height: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border: none;
    border-radius: 1vw;
}

#middletext {
    height: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: none;

    font-weight: bold;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #687172;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #4a4f52;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #687172 var(--background-bottom);
}