#gradebackground {
    display: flex;
    background-image: url("/gradelens/source/background/default_background_light.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0;

    height: 96vh;
    width: 100vw;
}

#grademaincontainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-bottom);
    height: 100%;
    width: 100%;
    margin: 1%;
    border-radius: 1vw;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
}

#gradecreationcontainer {
    display: flex;
    background: red;
    height: 87.5%;
    width: 100%;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
}