:root {
    --background-top: #ced8e0;
    --background-bottom: #e2e5ed;
    --global-margin: auto;
}

#naviagtioncontainer {
    display: flex;
    background: var(--background-top);
    height: 12.5%;
    width: 100%;
    border-radius: 1vw;
    box-shadow: 0 0.25vw 0.75vw rgba(0, 0, 0, 0.2), 0 0.25vw 0.75vw rgba(0, 0, 0, 0.1);
}

#navilogo {
    display: flex;
    width: 6%;
    height: 100%;
}

#navilogo-image {
    display: flex;
    margin: auto;
    width: 85%;
    height: 90%;
    aspect-ratio: 1 / 1;

    transition: 1s ease-in-out;
    &:hover {
        animation: spin 1.5s linear infinite;
    }
    &:active {
        animation: spinbackwards 1.5s linear infinite;
    }
    backface-visibility: hidden;
}

#navibuttons {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 100%;
    background: none;
}

#homebutton {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.75%;
    margin-left: auto;
    display: flex;
    min-width: 15%;
    width: max-content;
    height: 80%;
    background: none;
    border: none;
    border-radius: 1vw;

    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vw;

    transition: 0.35s ease-in-out, color 0.25s ease-in-out;
    &:hover {
        border: 0.15vw solid #687172;
        text-underline-offset: 10%;
        transform: translateY(-10%);
        cursor: pointer;
        color: #687172;
    }

    &:active {
        border: 2px solid #687172;
        text-decoration: underline;
        transform: translateY(2px) scale(0.99);
        cursor: pointer;
        color: #687172;
        text-underline-offset: 5%;
    }
    backface-visibility: hidden;
}

#librarybutton {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.75%;
    display: flex;
    min-width: 15%;
    width: max-content;
    height: 80%;
    background: none;
    border: none;
    border-radius: 1vw;

    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vw;

    transition: 0.35s ease-in-out, color 0.25s ease-in-out;
    &:hover {
        border: 0.15vw solid #687172;
        text-underline-offset: 10%;
        transform: translateY(-10%);
        cursor: pointer;
        color: #687172;
    }

    &:active {
        border: 2px solid #687172;
        text-decoration: underline;
        transform: translateY(2px) scale(0.99);
        cursor: pointer;
        color: #687172;
        text-underline-offset: 5%;
    }
    backface-visibility: hidden;
}

#createbutton {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.75%;
    display: flex;
    min-width: 15%;
    width: max-content;
    height: 80%;
    background: none;
    border: none;
    border-radius: 1vw;

    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vw;

    transition: 0.35s ease-in-out, color 0.25s ease-in-out;
    &:hover {
        border: 0.15vw solid #687172;
        text-underline-offset: 10%;
        transform: translateY(-10%);
        cursor: pointer;
        color: #687172;
    }

    &:active {
        border: 2px solid #687172;
        text-decoration: underline;
        transform: translateY(2px) scale(0.99);
        cursor: pointer;
        color: #687172;
        text-underline-offset: 5%;
    }
    backface-visibility: hidden;
}

#profilebutton {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.75%;
    display: flex;
    width: 5.5%;
    height: 80%;
    background: none;
    border: none;
    border-radius: 1vw;

    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vw;

    transition: 0.35s ease-in-out, color 0.25s ease-in-out;
    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
        opacity: 60%;
    }

    &:active {
        transform: translateY(2px) scale(0.99);
        cursor: pointer;
    }
    backface-visibility: hidden;
}

#profilebutton-image {
    height: 6.5vh;
    width: 3vw;
}

.active-button {
    color: black;
    text-decoration: underline;
    text-underline-offset: 15%;
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(25deg);
    }
    to {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(35deg);
    }
    to {
        transform: rotate(40deg);
    }
    to {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(50deg);
    }
    to {
        transform: rotate(55deg);
    }
    to {
        transform: rotate(60deg);
    }
    to {
        transform: rotate(65deg);
    }
    to {
        transform: rotate(70deg);
    }
    to {
        transform: rotate(75deg);
    }
    to {
        transform: rotate(80deg);
    }
    to {
        transform: rotate(85deg);
    }
    to {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(95deg);
    }
    to {
        transform: rotate(100deg);
    }
    to {
        transform: rotate(105deg);
    }
    to {
        transform: rotate(110deg);
    }
    to {
        transform: rotate(115deg);
    }
    to {
        transform: rotate(120deg);
    }
    to {
        transform: rotate(125deg);
    }
    to {
        transform: rotate(130deg);
    }
    to {
        transform: rotate(135deg);
    }
    to {
        transform: rotate(140deg);
    }
    to {
        transform: rotate(145deg);
    }
    to {
        transform: rotate(150deg);
    }
    to {
        transform: rotate(155deg);
    }
    to {
        transform: rotate(160deg);
    }
    to {
        transform: rotate(165deg);
    }
    to {
        transform: rotate(170deg);
    }
    to {
        transform: rotate(175deg);
    }
    to {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(185deg);
    }
    to {
        transform: rotate(190deg);
    }
    to {
        transform: rotate(195deg);
    }
    to {
        transform: rotate(200deg);
    }
    to {
        transform: rotate(205deg);
    }
    to {
        transform: rotate(210deg);
    }
    to {
        transform: rotate(215deg);
    }
    to {
        transform: rotate(220deg);
    }
    to {
        transform: rotate(225deg);
    }
    to {
        transform: rotate(230deg);
    }
    to {
        transform: rotate(235deg);
    }
    to {
        transform: rotate(240deg);
    }
    to {
        transform: rotate(245deg);
    }
    to {
        transform: rotate(250deg);
    }
    to {
        transform: rotate(255deg);
    }
    to {
        transform: rotate(260deg);
    }
    to {
        transform: rotate(265deg);
    }
    to {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(275deg);
    }
    to {
        transform: rotate(280deg);
    }
    to {
        transform: rotate(285deg);
    }
    to {
        transform: rotate(290deg);
    }
    to {
        transform: rotate(295deg);
    }
    to {
        transform: rotate(300deg);
    }
    to {
        transform: rotate(305deg);
    }
    to {
        transform: rotate(310deg);
    }
    to {
        transform: rotate(315deg);
    }
    to {
        transform: rotate(320deg);
    }
    to {
        transform: rotate(325deg);
    }
    to {
        transform: rotate(330deg);
    }
    to {
        transform: rotate(335deg);
    }
    to {
        transform: rotate(340deg);
    }
    to {
        transform: rotate(345deg);
    }
    to {
        transform: rotate(350deg);
    }
    to {
        transform: rotate(355deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinbackwards {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(-25deg);
    }
    to {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(-35deg);
    }
    to {
        transform: rotate(-40deg);
    }
    to {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-50deg);
    }
    to {
        transform: rotate(-55deg);
    }
    to {
        transform: rotate(-60deg);
    }
    to {
        transform: rotate(-65deg);
    }
    to {
        transform: rotate(-70deg);
    }
    to {
        transform: rotate(-75deg);
    }
    to {
        transform: rotate(-80deg);
    }
    to {
        transform: rotate(-85deg);
    }
    to {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(-95deg);
    }
    to {
        transform: rotate(-100deg);
    }
    to {
        transform: rotate(-105deg);
    }
    to {
        transform: rotate(-110deg);
    }
    to {
        transform: rotate(-115deg);
    }
    to {
        transform: rotate(-120deg);
    }
    to {
        transform: rotate(-125deg);
    }
    to {
        transform: rotate(-130deg);
    }
    to {
        transform: rotate(-135deg);
    }
    to {
        transform: rotate(-140deg);
    }
    to {
        transform: rotate(-145deg);
    }
    to {
        transform: rotate(-150deg);
    }
    to {
        transform: rotate(-155deg);
    }
    to {
        transform: rotate(-160deg);
    }
    to {
        transform: rotate(-165deg);
    }
    to {
        transform: rotate(-170deg);
    }
    to {
        transform: rotate(-175deg);
    }
    to {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(-185deg);
    }
    to {
        transform: rotate(-190deg);
    }
    to {
        transform: rotate(-195deg);
    }
    to {
        transform: rotate(-200deg);
    }
    to {
        transform: rotate(-205deg);
    }
    to {
        transform: rotate(-210deg);
    }
    to {
        transform: rotate(-215deg);
    }
    to {
        transform: rotate(-220deg);
    }
    to {
        transform: rotate(-225deg);
    }
    to {
        transform: rotate(-230deg);
    }
    to {
        transform: rotate(-235deg);
    }
    to {
        transform: rotate(-240deg);
    }
    to {
        transform: rotate(-245deg);
    }
    to {
        transform: rotate(-250deg);
    }
    to {
        transform: rotate(-255deg);
    }
    to {
        transform: rotate(-260deg);
    }
    to {
        transform: rotate(-265deg);
    }
    to {
        transform: rotate(-270deg);
    }
    to {
        transform: rotate(-275deg);
    }
    to {
        transform: rotate(-280deg);
    }
    to {
        transform: rotate(-285deg);
    }
    to {
        transform: rotate(-290deg);
    }
    to {
        transform: rotate(-295deg);
    }
    to {
        transform: rotate(-300deg);
    }
    to {
        transform: rotate(-305deg);
    }
    to {
        transform: rotate(-310deg);
    }
    to {
        transform: rotate(-315deg);
    }
    to {
        transform: rotate(-320deg);
    }
    to {
        transform: rotate(-325deg);
    }
    to {
        transform: rotate(-330deg);
    }
    to {
        transform: rotate(-335deg);
    }
    to {
        transform: rotate(-340deg);
    }
    to {
        transform: rotate(-345deg);
    }
    to {
        transform: rotate(-350deg);
    }
    to {
        transform: rotate(-355deg);
    }
    to {
        transform: rotate(-360deg);
    }
}