:root {
    --background-top: #ced8e0;
    --background-bottom: #e2e5ed;
}

#overviewbackground {
    display: flex;
    background-image: url("/gradelens/source/background/default_background_light.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0;

    height: 96vh;
    width: 100vw;
}

#overviewmaincontainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-bottom);
    height: 100%;
    width: 100%;
    margin: 1%;
    border-radius: 1vw;
    box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.2), 0 0.5vw 1.5vw rgba(0, 0, 0, 0.1);
}

#dynamiccontentpane {
    display: flex;
    background: none;
    height: 87.5%;;
    width: 100%;
    border: none;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}